/* Designed Mobile-First */

/* Text */

html {
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: xx-large;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

p {
    width: 100%;
    font-size: medium;
}

/* Social Media */

i {
    text-align: center;
}

#instagram-icon {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#linkedin-icon {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/* Skip to Content Button */

.skip a{
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
    position: absolute;
    top: -50px;
}
.skip a:focus {
    position: absolute;
    top: -10px;
}

/* Navigation */
/* Hamburger menu code was modified from this tutorial https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */

header {
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 10;
}

nav {
    overflow: hidden;
    background-color: black;
    width: 100vw;
    transition: 1s;
}

#nav-buttons {
    height: 35vh;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    justify-content:space-around;
    background-color: black;
    width: 100%;
    position: fixed;
    top: -1000px;
    z-index: 10;
}

#nav-buttons.slideDown {
    top: 50px;
}

#nav-buttons li {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 15px;
}

.nav-button {
    color: white;
    text-decoration: none;
}

.active {
    color: #5ca2fc;
    font-size: x-large;
}

i.fa.fa-bars {
    position: sticky;
    font-size: xx-large;
    margin: 10px;
    color: white;
    z-index: 11;
}

/* Images */

#cartoon_image {
    max-height: 50vh;
    width: auto;
    display: block;
    justify-content: center;
}

/* General Content */

main {
    padding: 20px;
    margin-top: 40px;
}

footer {
    padding: 20px;
    margin-top: 50px;
}

#index_main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: auto;
}

#home_page footer {
    position: absolute;
    margin-top: 92vh;
}

figcaption {
    display: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

body {
    display: grid;
    grid-template-rows: 0fr 3fr;
    grid-template-columns: 1fr;
    width: 100vw;
    height: auto;
    background-image: url('../images/background-image.jpg');
    /* Image created by Pramod Tiwari, accessed here: https://unsplash.com/photos/6_VhZ2hQlQE */
    background-attachment: fixed;
}

#grad-photo {
    max-width: 100%;
    width: auto;
    display: block;
    justify-content: center;
    padding-top: 20px;
}

#longboard {
    max-width: 100%;
    width: auto;
    display: block;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Form */

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    height: 5vh;
    width: 100%;
    border: 1px solid #5ca2fc;
    border-radius: 5px;
}

input:focus {
    border: 2px solid #5ca2fc;
}

textarea {
    height: 15vh;
    width: 100%;
    border: 1px solid #5ca2fc;
    border-radius: 5px;
}

textarea:focus {
    border: 2px solid #5ca2fc;
}

button {
    width: 100%;
    height: 5vh;
    background-color: black;
    color: white;
    border-radius: 5px;
    border-width: 0px;
    font-size: large;
}

label {
    font-size: large;
    font-weight: bold;
}

/* Begin flip card (code borrowed and adapted from https://www.w3schools.com/howto/howto_css_flip_card.asp)*/

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    width: 90vw;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.card {
    background-color: transparent;
    width: 80vw;
    height: 50vh;
    perspective: 1000px;
    align-self: center;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 5px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card-front {
    background-color: gray;
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    background-color: #5ca2fc;
    color: white;
    transform: rotateY(180deg);
    border-radius: 5px;
}

.flex-image {
    max-width: 80vw;
    max-height: 50vh;
    border-radius: 5px;
}

/* Tablet View */

@media (min-width: 800px) {
    h1 {
        font-size: xxx-large;
        margin: 50px;
    }

    p {
        font-size: x-large;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #cartoon_image {
        margin-right: 20px;
    }

    #nav-buttons {
        top: 0;
        flex-direction: row;
        height: 2vh;
        align-items: center;
    }

    i.fa.fa-bars {
        visibility: hidden;
    }

    .nav-button {
        font-size: large;
    }

    .active {
        font-size: x-large;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        gap: 20px;
        width: 90vw;
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        justify-content: center;
    }

    .card {
        width: 40vw;
        height: 30vh;
    }

    .flex-image {
        max-width: 40vw;
        max-height: 30vh;
    }

    #longboard {
        width: 40vw;
    }

    #main-contact {
        display: grid;
        grid-template-rows: 20vh 2fr 2fr;
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #main-contact aside p {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom:20px;
    }

    #main-contact h1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    form {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card-back h1 {
        font-size: x-large;
    }
}

/* Desktop View */

@media (min-width: 1000px) {
    .card {
        width: 25vw;
        height: 30vh;
    }

    .flex-image {
        max-width: 25vw;
        max-height: 30vh;
    }

    #cartoon_image {
        max-height: 60vh;
        width: auto;
        display: block;
        justify-content:start;
    }

    #main-contact {
        display: grid;
        grid-template-rows: 20vh 40vh 40vh;
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #main-contact p {
        font-size: large;
    }

    #longboard {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    form {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    footer {
        position: static;
    }

    button {
        width: 100%;
        height: 5vh;
        background-color: black;
        color: white;
        border-radius: 5px;
        border-width: 0px;
        font-size: large;
    }

    #main-about {
        display: grid;
        grid-template-rows: 20vh 60vh;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }

    #main-about h1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #main-about p {
        font-size: large;
    }

    #grad-photo {
        max-height: 60vh;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (prefers-reduced-motion: reduce) {
/*code from here https://dev.webonomic.nl/how-to-disable-css-transforms-transistions-and-animations */

    * {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/

        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}